body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(244, 241, 254);
    padding: 20px;
}

h1 {
    color: rgb(124,108,172);
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
  display: inline-block;
  background-color: #B04EFF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

button:hover {
  background-color: darkmagenta;
  transform: scale(1.1);
}

button:active {
  transform: scale(0.95);
}
#entriesList {
    margin-top: 30px;
    padding: 10px;
}

.entry {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entry strong {
    font-size: 1.2em;
}
.button {
  display: inline-block;
  background-color: #B04EFF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.button:hover {
  background-color: darkmagenta;
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.95);
